# Block PHP execution in uploads
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>
<FilesMatch "\.php$">
    Require all denied
</FilesMatch>
